.file {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
.fileTittle {
    font-size: 14px;
    color: #000000;;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow-wrap: break-word;
    margin-left: 8%;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}