.folder {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

.folderTittle {
    font-size: 14px;
    color: #000000;;
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow-wrap: break-word;
    margin: 0;
}

.hidden {
    padding-left: 20px;
}
